@{
    ViewBag.Title = "NHL Schedule Evaluation 2013";
}

<div class="page">
    <div class="header"><h2>NHL Season 2013 - B2B game comparison (by team)</h2></div>

    <div id="Anaheim" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Anaheim"})">
    </div>

    <div id="Boston" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Boston"})"></div>

    <div id="Buffalo" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Buffalo"})"></div>

    <div id="Calgary" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Calgary"})"></div>

    <div id="Carolina" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Carolina"})"></div>

    <div id="Chicago" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Chicago"})"></div>

    <div id="Colorado" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Colorado"})"></div>

    <div id="Columbus" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Columbus"})"></div>

    <div id="Dallas" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Dallas"})"></div>

    <div id="Detroit" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Detroit"})"></div>

    <div id="Edmonton" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Edmonton"})"></div>

    <div id="Florida" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Florida"})"></div>

    <div id="Los Angeles" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Los Angeles"})"></div>

    <div id="Minnesota" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Minnesota"})"></div>

    <div id="Montreal" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Montreal"})"></div>

    <div id="Nashville" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Nashville"})"></div>

    <div id="New Jersey" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "New Jersey"})"></div>

    <div id="NY Islanders" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "NY Islanders"})"></div>

    <div id="NY Rangers" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "NY Rangers"})"></div>

    <div id="Ottawa" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Ottawa"})"></div>

    <div id="Philadelphia" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Philadelphia"})"></div>

    <div id="Phoenix" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Phoenix"})"></div>

    <div id="Pittsburgh" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Pittsburgh"})"></div>

    <div id="San Jose" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "San Jose"})"></div>

    <div id="St. Louis" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "St. Louis"})"></div>

    <div id="Tampa Bay" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Tampa Bay"})"></div>

    <div id="Toronto" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Toronto"})"></div>

    <div id="Vancouver" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Vancouver"})"></div>

    <div id="Washington" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Washington"})"></div>

    <div id="Winnipeg" class="renderaction fade-in"
         data-actionurl="@Url.Action("TeamGrid", "NHLScheduleEval", new {teamName = "Winnipeg"})"></div>
</div>